APP_NAME=PHP-MVC
APP_URL=http://localhost

DB_DRIVER=mysql
DB_VERSION=latest
DB_HOST=database
DB_PORT=3306
DB_NAME=database
DB_USERNAME=root
DB_PASSWORD=
DB_DSN=${DB_DRIVER}:host=${DB_HOST};port=${DB_PORT};dbname=${DB_NAME}

REDIS_HOST=localhost
REDIS_VERSION=latest
REDIS_PORT=6379