name: ContainerDeploy
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Composer dependencies
        working-directory: ./
        run: composer install --prefer-dist
      - name: Run Tests
        working-directory: ./
        run: compose run-phpunit
      - run: docker build --target app -t docker8aziz/mvc-php:1.0.1 -f ./php/Dockerfile .
      - run: docker build -t docker8aziz/mvc-nginx:1.0.1 -f ./nginx/Dockerfile .
      - run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - run: docker push docker8aziz/mvc-php:1.0.1
      - run: docker push docker8aziz/mvc-nginx:1.0.1
